body{
    background: black;
    color: whitesmoke;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 40px 5%;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.05);
}